services:
  3dog-node-backend:
    build: .
    image: 3dog-node-backend:latest
    restart: unless-stopped
    environment:
      - NODE_ENV: production
      - PORT: 3609
      - GOOGLE_GENERATIVE_AI_API_KEY=${GOOGLE_GENERATIVE_AI_API_KEY}
      - OPENAI_API_KEY=${OPENAI_API_KEY}
    env_file:
      - path: .env
        required: false
    ports:
      - "3609:3609"
    networks:
      - 3dog-node-backend-net

networks:
  3dog-node-backend-net:
    driver: bridge
